*{
    margin: 0;
}

body{
    background-color: #ffff;
    display: flex;
    justify-content: center;
}

#signup{
    background-color: #ffff;
    height: auto;
    width: 35%;
    justify-content: center;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.fa-angle-left{
    padding: 30px;
    padding-top: 40px;
    color: #7f7f7f;
}

#meta{
    width: 25px;
    margin: 30px;
    margin-top: -20px;
    display: flex;
}

.metaheading{
    font-size: 18px;
    margin:56px;
    margin-top:-52px;
    font-family: sans-serif;
    font-weight: lighter;
}

#main-heading{
    font-size: 28px;
    font-family: "Google Sans", sans-serif;
    padding: 30px;
    margin-top: -70px;
}

#first-para{
    font-size: 18px;
    font-family: "Google Sans", sans-serif;
    font-weight: 300;
    padding: 32px;
    margin-top: -55px;
}
/* name sec */
#name-head{
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    font-size: 18px ;
    padding-left: 32px;
}

#name-in{
    width: 270px;
    height: 60px;
    border-radius: 15px;
    border: 0.5px solid rgb(145, 145, 145);
    margin-left: 32px;
    margin-top: 10px;
    padding-left:15px;
    font-size:16px; 
}

#Surname-in{
    width: 270px;
    height:60px;
    border-radius: 15px;
    border: 0.5px solid rgb(145, 145, 145);
    margin-left: 18px;
    margin-top: 10px;
    padding-left:15px;
    font-size:16px; 
}
/* date of birth */
#date-head{
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    font-size: 18px ;
    padding-left: 32px;
    margin-top: 30px;
    margin-bottom: -5px;
}

#day{
    width: 190px;
    height: 60px;
    margin-left: 32px;
    margin-top: 20px;
    border-radius: 15px;
    padding-left:10px;
    padding-right: 10px;
    font-size: 16px;
}

#month{
     width: 190px;
    height: 60px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 15px;
    padding-left:10px;
    padding-right: 10px;
    font-size: 16px;
}

#year{
     width: 190px;
    height: 60px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 15px;
    padding-left:10px;
    padding-right: 10px;
    font-size: 16px;
}
/* close */

#gender-head{
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    font-size: 18px ;
    padding-left: 32px;
    margin-top: 30px;
    margin-bottom: -5px;
}

#Gender{
    width: 600px;
    height: 60px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 15px;
    padding-left:10px;
    padding-right: 10px;
    font-size: 16px;
}

#mobile-head{
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    font-size: 18px ;
    padding-left: 32px;
    margin-top: 30px;
    margin-bottom: -5px;
}

#mobile-in{
    width: 570px;
    height: 60px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 15px;
    border: 0.5px solid rgb(145, 145, 145);
    padding-left:20px;
    padding-right: 10px;
    font-size: 16px;
}

#contact{
    font-size: 14px;
    font-family: "Google Sans", sans-serif;
    padding: 35px;
    margin-top: -20px;
}

#pass-head{
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    font-size: 18px ;
    padding-left: 32px;
    margin-bottom: -5px;
}

#pass-in{
    width: 570px;
    height: 60px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 15px;
    border: 0.5px solid rgb(145, 145, 145);
    padding-left:20px;
    padding-right: 10px;
    font-size: 16px;
}

#rd-last{
    font-size: 17px;
    font-family: "Google Sans", sans-serif;
    font-weight: 200;
    padding-left:40px;
    margin-top:35px;
} 

#rf-last{
    font-size: 17px;
    font-family: "Google Sans", sans-serif;
    font-weight: 200;
    padding-left:40px;
    margin-top:30px;
} 

#sub-but{
    width: 600px;
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 30px;
    border:none;
    background-color:#1877F2;
    padding-left:20px;
    padding-right: 10px;
    font-size: 18px;
    color: #ffff;
}

#all-but{
    width: 600px;
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 30px;
    border:none;
    background-color:#ebebeb;
    padding-left:20px;
    padding-right: 10px;
    font-size: 18px;
    color: #000000;
}

#sub-but:hover{
    background-color: #1151a4;
}

#all-but:hover{
    background-color:#7f7f7f;
}